<div class="app-navbar mat-elevation-z6 mat-toolbar">
  <div class="container">
    <nav class="docs-navbar-header">
      <a routerLink="/" class="mat-button">Recomended Movies</a>
      <a routerLink="/recommended/series" class="mat-button"
        >Recomended Series</a
      >
      <a routerLink="/search/movies" fragment="clear" class="mat-button"
        >Movies</a
      >
      <a routerLink="/search/series" fragment="clear" class="mat-button"
        >Series</a
      >
    </nav>
  </div>
</div>
<div class="router-outlet"></div>
<router-outlet></router-outlet>
