<div class="container">
  <mat-card *ngIf="this.series != undefined">
    <main>
      <img [src]="Poster()" alt="film poster" height="741" />
      <section class="film-details">
        <header>
          <div class="row">
            <h1 class="title">{{ this.series.name }}</h1>
            <div class="rating">
              {{ getRating() }}
            </div>
          </div>
          <div
            matCardSubtitle
            class="row"
            *ngIf="this.series.original_name != undefined"
          >
            <h2 class="subtitle">( {{ this.series.original_name }} )</h2>
            <h4>{{ this.series.original_language ?? "" }}</h4>
          </div>

          <div class="tags">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngFor="let genre of this.series.genres">{{
                genre.name
              }}</mat-chip>
            </mat-chip-list>
          </div>
        </header>
        <article>
          <p class="overview-heading">Overview :</p>
          <p class="overview">{{ this.series.overview ?? "Not provided" }}</p>
        </article>
        <footer>
          <h3 class="release-date">
            Release date: {{ this.series.first_air_date ?? "Not provided" }}
          </h3>
        </footer>
      </section>
    </main>
    <section></section>
    <footer>
      <p class="cast-title">Episode list</p>
      <div class="cast">
        <div *ngFor="let season of series.seasons">
          <app-season-row
            [season]="season"
            [movie_id]="this.series.id"
          ></app-season-row>
        </div>
      </div>
    </footer>
  </mat-card>
</div>
